.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow-x: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card:hover {
  text-decoration: none;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
}

.card--new {
  border: 3px solid #00ff7f;
}

.card--inrelease {
  border: 3px solid #00bfff;
}

.card--top-rated {
  background: rgb(237, 255, 0);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(237, 255, 0, 0.9884259259)), color-stop(83%, rgb(255, 255, 255)));
  background: -o-linear-gradient(bottom, rgba(237, 255, 0, 0.9884259259) 0%, rgb(255, 255, 255) 83%);
  background: linear-gradient(0deg, rgba(237, 255, 0, 0.9884259259) 0%, rgb(255, 255, 255) 83%);
}

.info {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.top-rated-icon {
  font-size: 14px;
  color: rgb(255, 255, 27);
}

.top-rated-btn {
  padding: 0 5px;
}

.info-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 3px 0;
  color: #c6cad7;
  font-size: 12px;
  gap: 20px;
}

.description {
  font-size: 14px;
  line-height: 1.6;
  color: #7a7c87;
}

.course__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  background: #30b6dd;
  padding: 5px 12px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.btn-icon {
  pointer-events: none;
}

.btn:hover {
  background: #299fc4;
}

.btn:active {
  background: #30b6dd;
}

@media screen and (max-width: 767px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .course__tools {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 10px;
  }
}