input {
  margin-top: 3px;
  display: block;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e2e4eb;
  background: #fff;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}

input:hover,
input:focus {
  outline: none;
  border: 1px solid #30b6dd;
}

input::-webkit-input-placeholder {
  font-family: inherit;
  color: #e5e6ea;
}

input::-moz-placeholder {
  font-family: inherit;
  color: #e5e6ea;
}

input:-ms-input-placeholder {
  font-family: inherit;
  color: #e5e6ea;
}

input::-ms-input-placeholder {
  font-family: inherit;
  color: #e5e6ea;
}

input::placeholder {
  font-family: inherit;
  color: #e5e6ea;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info {
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  color: #777;
}