.courses {
  &__add-btn {
    display: flex;
    align-items: center;
    margin: 16px 0 16px auto;
    border-radius: 3px;
    color: #fff;
    padding: 6px 20px;
    white-space: nowrap;
    background: #30b6dd;
    transition: background 0.3s, transform 0.3s;
  }
  &__add-btn:hover {
    transform: translateY(-2px);
    background: #299fc4;
  }
  &__add-btn:active {
    transform: translateY(1px);
    background: #299fc4;
  }
  &__add-icon {
    margin-right: 8px;
  }
}
