<fieldset class="form-group">
  <div class="form-wrapper">
    <label for="courseDescription">Description:</label>
    <div class="validation" *ngIf="description?.touched">
      <small *ngIf="description?.errors?.['required']">Required!</small>
      <small *ngIf="description?.errors?.['maxlength']"
        >Must be less then 500 symbols!</small
      >
      <small *ngIf="description?.errors?.['minlength']"
        >Must be more then 10 symbols!</small
      >
    </div>
  </div>
  <textarea
    id="courseDescription"
    autocomplete="off"
    placeholder="Input description"
    [formControl]="description"
  ></textarea>
</fieldset>
