<article
  class="card"
  appCourseMarker
  [creationDate]="course.date"
  [ngClass]="{ 'card--top-rated': course.isTopRated }"
>
  <div class="card-wrapper">
    <div class="info">
      <div class="info-header">
        <div class="title-wrapper">
          <h2 class="title">
            {{ course.name | uppercase }}
          </h2>
          <fa-icon
            *ngIf="course.isTopRated"
            [icon]="faStar"
            class="top-rated-icon"
          ></fa-icon>
        </div>

        <ul class="info-date">
          <li class="visite-time">
            <fa-icon [icon]="faClock"></fa-icon>
            {{ course.length | courseDuration }}
          </li>
          <li class="creation-time">
            <fa-icon [icon]="faCalendarDays"></fa-icon>
            {{ course.date | date: "dd MMM yyyy" }}
          </li>
        </ul>
      </div>
      <p class="description">
        {{ course.description }}
      </p>
    </div>
    <div class="course__tools">
      <button class="btn" (click)="goToEditPage()">
        <fa-icon [icon]="faPen" class="btn-icon"></fa-icon>
        {{ "PAGES.COURSES.COURSES_ITEM.EDIT" | translate }}
      </button>
      <button class="btn btn-delete" (click)="deleteCourse(course)">
        <fa-icon class="btn-icon" [icon]="faTrash"></fa-icon>
        {{ "PAGES.COURSES.COURSES_ITEM.DELETE" | translate }}
      </button>
    </div>
  </div>

  <div class="authors">
    <h3 class="author-title">
      {{ "PAGES.COURSES.COURSES_ITEM.AUTHORS" | translate }}
    </h3>
    <ul class="list">
      <li class="author" *ngFor="let author of course.authors">
        {{ author.name }} {{ author.lastName }}
      </li>
    </ul>
  </div>
</article>
