<header class="header">
  <div class="header__container container">
    <a routerLink="/courses" class="header__icon-link">
      <fa-icon [icon]="faPlayCircle" size="2x"></fa-icon>
      <h1 class="header__icon-title">{{ title }}</h1>
    </a>
    <div class="header__registration registration">
      <button
        *ngIf="!isAuthenticated"
        href="/login"
        type="button"
        class="registration__link"
      >
        <fa-icon [icon]="faUser" class="registration__icon"></fa-icon>

        User Login
      </button>
      <button
        href="/sign-in"
        type="button"
        class="registration__link"
        *ngIf="isAuthenticated"
        (click)="loginOut()"
      >
        <fa-icon
          class="registration__icon"
          [icon]="faRightFromBracket"
        ></fa-icon>
        Log off
      </button>
    </div>
  </div>
</header>
