<header class="header">
  <div class="header__container container">
    <a routerLink="/" class="header__icon-link">
      <fa-icon [icon]="faPlayCircle" size="2x"></fa-icon>
      <h1 class="header__icon-title">{{ title }}</h1>
    </a>
    <div
      class="header__registration registration"
      *ngIf="authService.isAuthenticated$ | async"
    >
      <button
        href="/login"
        type="button"
        class="registration__link"
        *ngIf="authService.userInfo$ | async as userInfo"
      >
        <fa-icon [icon]="faUser" class="registration__icon"></fa-icon>

        {{ userInfo?.name?.first }} {{ userInfo?.name?.last }}
      </button>
      <button
        href="/sign-in"
        type="button"
        class="registration__link"
        (click)="loginOut()"
      >
        <fa-icon
          class="registration__icon"
          [icon]="faRightFromBracket"
        ></fa-icon>
        Log off
      </button>
    </div>
  </div>
</header>
