<fieldset class="form-group">
  <div class="form-wrapper">
    <label for="courseTitle">{{
      "PAGES.COURSES.COURSE_FORM.TITLE.LABEL" | translate
    }}</label>
    <div class="validation" *ngIf="name?.touched">
      <small *ngIf="name?.errors?.['required']">
        {{ "SHARED.REQUIRED" | translate }}</small
      >
      <small *ngIf="name?.errors?.['maxlength']"
        >{{ "SHARED.MAX_LENGTH" | translate: { numbers: "50" } }}
      </small>
      <small *ngIf="name?.errors?.['minlength']">
        {{ "SHARED.MIN_LENGTH" | translate: { numbers: "3" } }}
      </small>
    </div>
  </div>
  <input
    type="text"
    class="input"
    id="courseTitle"
    autocomplete="off"
    placeholder="{{
      'PAGES.COURSES.COURSE_FORM.TITLE.PLACEHOLDER' | translate
    }}"
    [formControl]="name"
  />
</fieldset>
