.search {
  position: relative;
  display: flex;
  width: calc((100% / 12) * 5);
}
.icon-wrapper {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-40%);
  color: #9a9da8;
}
.input {
  flex-grow: 2;
  padding: 10px 10px 10px 35px;
  border: 1px solid #e2e4eb;
  background: #fff;
  transition: border 0.2s;
}
.input:hover,
.input:focus {
  outline: none;
  border: 1px solid #30b6dd;
}
.input::placeholder {
  font-family: inherit;
  color: #e5e6ea;
}
.btn {
  color: #fff;
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px 15px;
  background: #9bc837;
  transition: background 0.3s;
}
.btn:hover,
.btn:focus {
  background: #85ad2e;
}
.btn:active {
  background: #9bc837;
}
@media screen and (max-width: 767px) {
  .search {
    width: 100%;
  }
  .input {
    min-width: 150px;
  }
}
