.edit-course {
  padding: 30px 0 80px;
}
.title {
  font-size: 20px;
  font-weight: 700;
}
.form {
  color: #474a59;
  margin-top: 24px;
}
label {
  display: block;
}
input,
textarea {
  margin-top: 8px;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e2e4eb;
  background: #fff;
  transition: border 0.2s;
}
textarea {
  min-height: 110px;
  resize: vertical;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #30b6dd;
}
input::placeholder,
textarea::placeholder {
  font-family: inherit;
  color: #e5e6ea;
}
.form-group {
  margin-top: 15px;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
}
.btn {
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  font-size: 14px;
  width: 90px;
  transition: background 0.3s, transform 0.3s;
  &:first-child {
    margin-right: 15px;
  }
}
.btn-save {
  background: #9bc837;
  &:hover {
    background: #85ad2e;
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(1px);
    background: #299fc4;
  }
}
.btn-cancel {
  background: #838899;
  &:hover {
    background: #6c707c;
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(1px);
    background: #299fc4;
  }
}
.card {
  padding: 24px 24px 34px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
}
