<section class="edit-course">
  <div class="container">
    <div class="card">
      <h2 class="title">Edit course</h2>
      <form class="form" (submit)="onSubmit($event)">
        <fieldset class="form-group">
          <label for="courseTitle">Title:</label>
          <input
            type="text"
            class="input"
            id="courseTitle"
            autocomplete="off"
            placeholder="Enter Title"
            [value]="courseForChange.name"
            (input)="onInput($event.target)"
          />
        </fieldset>
        <fieldset class="form-group">
          <label for="courseDescription">Description:</label>
          <textarea
            id="courseDescription"
            placeholder="Enter Description"
            autocomplete="off"
            [value]="courseForChange.description"
            (input)="onInput($event.target)"
          ></textarea>
        </fieldset>
        <fieldset class="form-group">
          <app-edit-course-date
            [date]="courseForChange.date"
            (onSelectDate)="onInputDate($event)"
          ></app-edit-course-date>
        </fieldset>
        <fieldset class="form-group">
          <app-edit-course-duration
            [duration]="courseForChange.duration"
            (onEnterDuration)="onInputDuration($event)"
          ></app-edit-course-duration>
        </fieldset>
        <fieldset class="form-group">
          <app-edit-course-authors></app-edit-course-authors>
        </fieldset>
        <fieldset class="form-group btns">
          <button class="btn btn-save">Save</button>
          <button
            class="btn btn-cancel"
            type="button"
            (click)="goToCoursesPage()"
          >
            Cancel
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</section>
