<section class="course-form">
  <div class="container">
    <div class="card">
      <loading *ngIf="loading"></loading>
      <course-error *ngIf="error"></course-error>
      <loading *ngIf="loading"></loading>
      <h2 class="title">Add course</h2>
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <course-title></course-title>
        <course-description></course-description>
        <course-date formControlName="date"></course-date>
        <course-duration formControlName="length"></course-duration>

        <fieldset class="form-group">
          <course-authors
            [error]="error"
            [isLoading]="loading"
            (onAddAuthor)="updateAuthorsHandler($event)"
            (onDeleteAuthor)="updateAuthorsHandler($event)"
          ></course-authors>
        </fieldset>

        <fieldset class="form-group btns">
          <button class="btn btn-save" type="submit" [disabled]="form.invalid">
            Save
          </button>
          <button
            class="btn btn-cancel"
            type="button"
            (click)="goToCoursesPage()"
          >
            Cancel
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</section>
