<section class="courses">
  <button class="add-btn">
    <fa-icon [icon]="faPlus" class="add-icon"></fa-icon>
    Add course
  </button>

  <ul class="list">
    <li *ngFor="let course of coursesList">
      <app-courses-item
        [course]="course"
        (onDelete)="deleteEventEmit($event)"
      ></app-courses-item>
    </li>
  </ul>

  <app-courses-more
    *ngIf="
      (coursesList | filter: searchValue).length > 0 && coursesList.length > 0
    "
  ></app-courses-more>

  <app-courses-info-card *ngIf="coursesList.length === 0"
    >No data, feel free to add new course
  </app-courses-info-card>
  <app-courses-info-card
    *ngIf="
      (coursesList | filter: searchValue).length <= 0 && coursesList.length > 0
    "
    >No found any courses by request
  </app-courses-info-card>
</section>
