<div class="author">
  <div class="column">
    <form class="form">
      <fieldset class="form-group label">
        <label for="addAuthorInput">
          {{ "PAGES.COURSES.COURSE_FORM.ADD_AUTHORS.ADD" | translate }}
        </label>
      </fieldset>

      <fieldset class="form-group author-wrapper">
        <input
          type="text"
          class="search-author-input"
          #searchAuthorsInput
          placeholder=" {{
            'PAGES.COURSES.COURSE_FORM.ADD_AUTHORS.PLACEHOLDER' | translate
          }}"
          (input)="searchAuthors(searchAuthorsInput.value)"
          (focus)="isAuthorListOpened = true"
        />

        <ng-container *ngIf="isAuthorListOpened">
          <ul
            *ngIf="
              (unSelectedAuthor | authorFilter: searchAuthorsInput.value)
                .length > 0;
              else noAuthor
            "
            class="unselected-author"
          >
            <li
              *ngFor="
                let author of unSelectedAuthor
                  | authorFilter: searchAuthorsInput.value
              "
            >
              <input
                class="author-btn"
                type="button"
                [value]="author.name"
                (click)="selectAuthorHandler($event)"
              />
            </li>
          </ul>
          <ng-template #noAuthor>
            <p class="no-more-auhtor">
              {{ "PAGES.COURSES.COURSE_FORM.ADD_AUTHORS.NO_FOUND" | translate }}
            </p>
          </ng-template>
        </ng-container>
      </fieldset>
    </form>
  </div>
  <div
    class="column course-authors"
    *ngIf="selectedAuthor.length !== 0 && !isLoading && !error"
  >
    <h3 class="label">
      {{ "PAGES.COURSES.COURSE_FORM.ADD_AUTHORS.LIST" | translate }}
    </h3>
    <ul class="list">
      <li class="item" *ngFor="let author of selectedAuthor">
        {{ author.name }} {{ author.lastName }}

        <button
          class="btn-delete"
          type="button"
          (click)="deleteAuthorHandler(author.id)"
        >
          &times;
        </button>
      </li>
    </ul>
  </div>
</div>
