input {
  margin-top: 3px;
  min-width: 180px;
  display: block;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e2e4eb;
  background: #fff;
  transition: border 0.2s;
}

input:hover,
input:focus {
  outline: none;
  border: 1px solid #30b6dd;
}
input::placeholder {
  font-family: inherit;
  color: #e5e6ea;
}
