<div class="container">
  <div class="card">
    <form class="form" (submit)="onSubmit($event)">
      <h3 class="title">Login</h3>
      <fieldset class="form-group">
        <label for="#userEmail" class="label">E-mail:</label>
        <small class="error-message">*required</small>
      </fieldset>

      <input
        type="email"
        class="input"
        id="userEmail"
        name="userEmail"
        placeholder="Enter e-mail"
        autocomplete="off"
        [value]="userLogin"
        (input)="onInput($event)"
      />
      <fieldset class="form-group">
        <label for="#userPassword" class="label">Password:</label>
        <small class="error-message">*required</small>
      </fieldset>

      <input
        type="password"
        class="input"
        id="userPassword"
        name="userPassword"
        placeholder="Enter password"
        autocomplete="off"
        [value]="userPassword"
        (input)="onInput($event)"
      />
      <fieldset class="form-group form-group--last">
        <a href="/" class="link">Forget password?</a>
        <button
          type="submit"
          class="btn"
          [disabled]="!userLogin || !userPassword"
        >
          Login
        </button>
      </fieldset>
    </form>
  </div>
</div>
