.author {
  display: block;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #e2e4eb;
  background: #fff;
  transition: border 0.2s;
}
.list {
  display: flex;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 4px;
  background: #e2e4eb;
  font-size: 14px;
  transition: 0.3s border;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #30b6dd;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(167, 65, 90);
  width: 14px;
  height: 14px;
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
}
