<header class="header">
  <div class="header__container container">
    <a href="/" class="header__icon-link">
      <fa-icon [icon]="faPlayCircle" size="2x"></fa-icon>
      <h1 class="header__icon-title">Video Courses</h1>
    </a>
    <div class="header__registration registration">
      <a href="/login" class="registration__link">
        <fa-icon [icon]="faUser" class="registration__icon"></fa-icon>

        User Login
      </a>
      <a href="/sign-in" class="registration__link">
        <fa-icon
          class="registration__icon"
          [icon]="faRightFromBracket"
        ></fa-icon>
        Log off</a
      >
    </div>
  </div>
</header>
