.course-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 45px;
  height: fit-content;
  background: #fff;
  border-radius: 6px;
  text-transform: uppercase;
  color: var(--gray-500);
  transition: all 0.3s;
  border: 1px dashed var(--gray-500);
  animation: fadeIn 0.3s ease-in forwards;
}
