<section class="courses">
  <div class="courses__container container">
    <courses-search
      (onSubmit)="searchHandler($event)"
      (onReset)="resetSearch()"
      [searchQuery]="searchQuery"
    ></courses-search>

    <courses-list
      [searchValue]="searchQuery"
      [coursesList]="courses$ | async"
      (onDelete)="deleteCourseHandler($event)"
    ></courses-list>

    <courses-more
      *ngIf="!(allCoursesLoaded$ | async) && !(loading$ | async)"
      infiniteScroll
      [infiniteScrollDistance]="1"
      (scrolled)="loadMore()"
    ></courses-more>
    <courses-info-card *ngIf="error$ | async">
      <course-error></course-error>
    </courses-info-card>
    <courses-info-card *ngIf="coursesNoFound$ | async">
      No found any courses by request
    </courses-info-card>

    <courses-info-card
      *ngIf="(allCoursesLoaded$ | async) && !(loading$ | async)"
    >
      All courses loaded
    </courses-info-card>

    <courses-info-card *ngIf="dataIsEmpty$ | async">
      No data, feel free to add new course
    </courses-info-card>

    <courses-info-card *ngIf="loading$ | async">
      <loading></loading>
    </courses-info-card>
  </div>
</section>
