.courses {
  padding: 30px 0 80px;
  height: 100%;
  .course-info {
    div.error {
      flex-direction: row;
      font-size: 16px;
      color: red;
    }
  }
}
.text {
  margin-left: 10px;
  color: var(--primary-color);
}
