<article
  class="card"
  appCourseMarker
  [creationDate]="course.date"
  [ngClass]="{ 'card--top-rated': course.isTopRated }"
>
  <div class="info">
    <div class="info-header">
      <div class="title-wrapper">
        <h3 class="title">
          {{ course.name | uppercase }}
        </h3>
        <fa-icon
          *ngIf="course.isTopRated"
          [icon]="faStar"
          class="top-rated-icon"
        ></fa-icon>
      </div>

      <ul class="info-date">
        <li class="visite-time">
          <fa-icon [icon]="faClock"></fa-icon>
          {{ course.length | courseDuration }}
        </li>
        <li class="creation-time">
          <fa-icon [icon]="faCalendarDays"></fa-icon>
          {{ course.date | date: "dd MMM yyyy" }}
        </li>
      </ul>
    </div>
    <p class="description">
      {{ course.description }}
    </p>
  </div>
  <div class="course__tools">
    <button class="btn" (click)="goToEditPage()">
      <fa-icon [icon]="faPen" class="btn-icon"></fa-icon>
      Edit
    </button>
    <button class="btn" (click)="deleteCourse(course)">
      <fa-icon class="btn-icon" [icon]="faTrash"></fa-icon>
      Detete
    </button>
  </div>
</article>
