:host {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  height: 100%;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: var(--gray-100);
  border: 2px solid #fff;
  padding: 45px;
  border-radius: 10px;
  max-width: 300px;
  transition: all 0.5s;
  box-shadow: #fff 0px 30px 60px -12px inset, #fff 0px 18px 36px -18px inset;
  &:hover {
    background: #fff;
    border: 1px solid #000;
  }
}
.title {
  font-weight: 700;
  font-size: 120px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 5px 10px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.1s;
}
.link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.icon {
  margin-right: 5px;
}
@media screen and (max-width: 767px) {
  .card {
    max-width: 260px;
    height: 260px;
  }
  .title {
    font-size: 90px;
  }
}
