.breadcrumbs {
  height: 70px;
  background: #fff;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
}
.list {
  display: flex;
}
.item {
  color: #464854;
  font-weight: 700;
  &.active {
    color: var(--primary-color);
  }
  &:not(:first-child) {
    &:before {
      display: inline-block;
      margin-right: 8px;
      content: "/";
      color: var(--gray-300);
    }
    margin-left: 8px;
  }
}
a {
  transition: color 0.2s;
  cursor: pointer;
}
a:hover {
  color: var(--primary-color);
}
a:focus,
a:active {
  color: #106ebe;
}
.blue {
  font-weight: 700;
  color: var(--primary-color);
}
.grey {
  color: #777;
}
