<section class="courses">
  <div class="courses__container container">
    <courses-search
      (onSubmit)="searchHandler($event)"
      (onReset)="resetSearch()"
      [searchQuery]="searchQuery"
    ></courses-search>

    <courses-list
      [searchValue]="searchValue"
      [coursesList]="courses"
      (onDelete)="deleteCourseHandler($event)"
    ></courses-list>
    <courses-info-card *ngIf="coursesNoFound">
      No found any courses by request
    </courses-info-card>

    <courses-info-card *ngIf="isAllCourseLoaded">
      All courses loaded
    </courses-info-card>

    <courses-info-card *ngIf="noData">
      No data, feel free to add new course
    </courses-info-card>

    <courses-info-card *ngIf="isLoading">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h2 class="text">Loading...</h2>
    </courses-info-card>

    <courses-more
      infiniteScroll
      [infiniteScrollDistance]="1"
      (scrolled)="loadMore()"
    ></courses-more>
  </div>
</section>
