<form class="search">
  <div class="input-wrapper">
    <label for="serchInput" class="icon-wrapper">
      <fa-icon [icon]="faMagnifyingGlass" size="sm" flip="horizontal"></fa-icon>
    </label>
    <input
      type="text"
      id="serchInput"
      class="input"
      autocomplete="off"
      [formControl]="searchControl"
      placeholder="{{
        'PAGES.COURSES.COURSES_SEARCH.TEXT_TO_SEARCH' | translate
      }}"
    />
    <button
      *ngIf="searchControl.value.length !== 0"
      class="reset-btn"
      type="reset"
    >
      <span class="visually-hidden">
        {{ "PAGES.COURSES.COURSES_SEARCH.CLEAR_FORM" | translate }}
      </span>
      &times;
    </button>
  </div>

  <button
    class="btn-submit"
    type="reset"
    [disabled]="!searchControl.value"
    (click)="clearFormHandler()"
  >
    <span class="visually-hidden">
      {{ "PAGES.COURSES.COURSES_SEARCH.RESET_FORM" | translate }}
    </span>
    <fa-icon [icon]="faArrowRotateRight" size="sm" flip="horizontal"></fa-icon>
  </button>
</form>
