<form class="search">
  <div class="input-wrapper">
    <label for="serchInput" class="icon-wrapper">
      <fa-icon [icon]="faMagnifyingGlass" size="sm" flip="horizontal"></fa-icon>
    </label>
    <input
      type="text"
      id="serchInput"
      class="input"
      placeholder="Text to search"
      autocomplete="off"
      [formControl]="searchControl"
    />
    <button
      *ngIf="searchControl.value.length !== 0"
      class="reset-btn"
      type="reset"
    >
      <span class="visually-hidden">Clear Search Box</span>
      &times;
    </button>
  </div>

  <button
    class="btn-submit"
    type="reset"
    [disabled]="!searchControl.value"
    (click)="clearFormHandler()"
  >
    <span class="visually-hidden">Reset Search Form</span>
    <fa-icon [icon]="faArrowRotateRight" size="sm" flip="horizontal"></fa-icon>
  </button>
</form>
