<article class="card" appNewCourseHighlighter>
  <div class="info">
    <div class="info-header">
      <h3 class="title">{{ course.name }}</h3>
      <ul class="info-date">
        <li class="visite-time">
          <fa-icon [icon]="faClock"></fa-icon>
          {{ course.duration }}
        </li>
        <li class="creation-time">
          <fa-icon [icon]="faCalendarDays"></fa-icon>
          {{ course.date | date: "dd MMM yyyy" }}
        </li>
      </ul>
    </div>
    <p class="description">
      {{ course.description }}
    </p>
  </div>
  <div class="course__tools">
    <button class="btn">
      <fa-icon [icon]="faPen" class="btn-icon"></fa-icon>
      Edit
    </button>
    <button class="btn" (click)="deleteCourse(course)">
      <fa-icon class="btn-icon" [icon]="faTrash"></fa-icon>
      Detete
    </button>
  </div>
</article>
