:root {
  --primary-color: #30b6dd;
  --primary-dark-color: #299fc4;

  --alert-color: red;
  --danger-color: #a7415a;

  --golden-color: #edff00;
  --success-color: #48c56e;
  --success-dark-color: #3ca85d;

  --gray-100: #e9ecef;
  --gray-200: #f2f3f7;
  --gray-300: #c6cad7;
  --gray-500: #adb5bd;
  --gray-600: #9a9da8;
  --gray-700: #414452;
}
